.header {
    padding: 1rem;
    border-bottom: 3px solid #CDCDCD;

}

.ui {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.ui h2 {
    background: linear-gradient(90deg, #00c896, #ff7a59, #00c896);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
}

.loginMenu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.loginMenu a {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    font-family: inherit;
    text-decoration: none;
    color: black;
}

.addMenu {
    margin: 4rem 6rem;
    display: flex;
    align-items: center;
}

.addMenu>button {
    padding: 0.5rem;
    border-radius: 20px;
    border: 3px solid #ccc;
    background: none;
    cursor: pointer;
    margin-right: 1rem;
}

.emptyData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1rem;
}

.emptyData img {
    background: none;
}

.emptyData h2 {
    margin: 1rem 0;
}

.toggleWrapper {
    display: flex;
    background-color: #e5e7eb;
    border-radius: 9999px;
    padding: 4px;
    width: fit-content;

}

.toggleBtn {
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    border-radius: 9999px;
    cursor: pointer;
    color: #9ca3af;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleBtn.active {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.list{
    width: 50%;
    margin: 0 auto;
}

.grids{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: 1.3rem;
}

.note {
    padding: 0.5rem;
    margin: 2rem 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    color: white;
    font-size: 1.2rem;
}

.urgent{
    background-color: #FB6868;
    
}
.short{
    background-color: #FF985C;

}
.chill{
    background-color: #46BEA6;
}

.closeBtn{
    display: flex;
    justify-content: flex-end;
}
.closeBtn button{
    cursor: pointer;
    border: none;
    background: none;
}

.titleDeadline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}



@media screen and (max-width:500px){
    .addMenu{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4rem 0;
        
    }
}